{% extends "Crystal_Clear_App/base_login.html" %}
{% load static %}
{% load widget_tweaks %}
<!-- Add your code below: -->
{% block head %}
<link rel="stylesheet" href="{% static 'Crystal_Clear_App/style.css' %}">
{% endblock %}
{% load widget_tweaks %}
{% block content %}
<h1 class="w3-jumbo w3-center"><b>Crear Estudiante</b></h1>
<div class="w3-container w3-center">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button style="margin-bottom: 10px;" type="submit">Agregar estudiante</button>
    </form>
    <!-- <form action="/action_page.php" target="_blank">
        <div class="w3-section">
            <label>Nombre de la clase</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
            {% render_field form.nombre rows="50" cols="50" title="Hello, world!" %}
        </div>
        <div class="w3-section">
            <label>Descripcion de la clase</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
            <label>Número de Creditos</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
            <label>Profesor Encargado</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <div class="w3-section">
            <label>Estado</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
        </div>
        <button type="submit" class="w3-button w3-block w3-padding-large w3-cyan w3-margin-bottom">Crear clase</button>
    </form> -->

</div>
{% endblock %}