{% extends "Crystal_Clear_App/base_login.html" %}
{% load static %}
<!-- Add your code below: -->
{% block head %}
<link rel="stylesheet" href="{% static 'Crystal_Clear_App/style.css' %}">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo w3-text-black w3-center w3-padding"><b>Bienvenid@</b></h1>
    <h1 class="w3-jumbo w3-text-black w3-center w3-padding"><b>{{estudiante}}</b></h1>
</div>
<!-- noticias -->


<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
    <p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
            class="w3-hover-opacity">w3.css</a></p>
</div>
{% endblock %}